:root {
    --brown-color: #140200;
    --brown-transparent-color:rgba(20, 2, 0, 0.8) ;
    --gold-color: #b68834;
    --text-dark-color: #222222;
    --text-light-color: #777777;
}


body {
    font-family: "Poppins", sans-serif;
    color: var(--text-light-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.section-gap {
    padding: 5rem 0;
}

.tittle-row {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5rem;
    color: var(--text-dark-color);
}

/* NAVIGATION */

#navigation{
    background: var(--brown-transparent-color);

}

#navigation header .nav .nav-item .nav-link {
    color: white;
    font-size: 14px;
}

#navigation header .nav .nav-item .nav-link:hover {
    color: var(--gold-color);
}
/* END NAVIGATION */


/* BANNER */

#banner {
}

#banner {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    margin: 15rem 0 34rem;
    color: #FFFFFF;
}

.banner-content h3 {
    font-size: 60px;
}
.banner-content .banner-button {
    border-color: #FFFFFF;
    border-radius: 15px;
    padding: 7px 20px;
    background:  #FFFFFF;
    color: var(--text-dark-color);

}

.banner-content .banner-button:hover {
    color: #FFFFFF;
    background: transparent;


}
/* END BANNER */


/* VIDEO */

#about-us .description-block {
    color: var(--text-dark-color);
    padding: 5%;
}

#about-us .description-block h6 {
    color: var(--gold-color);
    margin: 0px;
}

#about-us .description-block .quote {
    margin: 12px 0px;
}

#about-us .video-block {
    padding: 0;
    position: relative;
}

#about-us .video-block .video-bg {
    width: 100%;
}

#about-us .video-block .play {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000008a;
    border-radius:10px ;
}
/* END VIDEO */


/*  CATALOG */

#catalog {
    background: url("../img/menu-bg.jpg") center no-repeat;
    background-size: cover;

}

#catalog .catalog-item {
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 2rem;
    display: flex;
}

#catalog .catalog-item .catalog-item-body {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
}

#catalog .catalog-item .catalog-item-body:hover {
    cursor: pointer;
}

#catalog .catalog-item .catalog-item-body h4 {
    color: var(--text-dark-color);
}

#catalog .catalog-item .catalog-item-body .price {
    color: var(--gold-color);
    font-size: 20px;
    font-weight: 600;
}
/* END CATALOG */


/* REVIEWS */

#reviews {
    background: var(--gold-color);
    color: #FFFFFF;
}

#reviews .tittle-row {
    color: #FFFFFF;
}

#reviews  .review-item img,
#reviews .review-item-tittle
{
    margin-bottom: 1rem;
}


/* END REVIEWS */


/* BLOG */

#blog .blog-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
}

#blog .blog-item .tags{
    margin: 1rem 0;
}

#blog .blog-item .tags span {
    border: 1px solid #eeeeee;
    margin-right: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    color: var(--text-dark-color);
    font-weight: 500;
}

#blog .blog-item .blog-item-tittle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--text-dark-color);
}

#blog .blog-item .blog-item-date {
    color: var(--text-dark-color);
    font-weight: 600;
}

/* END BLOG */




/*FOOTER */

footer{
    background: url(../img/footer-bg.jpg) top center no-repeat;
    background-size: cover;
    padding: 15rem 0 5rem;
    color: #FFFFFF;
}

footer h4 {
    margin-bottom: 1rem;
}

#footer a {
    color: var(--gold-color);
    text-decoration: none;
}

#button-addon2 {
    background:  var(--gold-color);
    color: #FFFFFF;
    border: 1px solid var(--gold-color);
}

#button-addon2:hover {
    color: var(--gold-color);
    background: transparent;
}

#footer .footer-social-list {
    font-size: 24px;
}

#footer .footer-social-list a{
    color: #FFFFFF;
    margin-right: 0.75rem;
}

#footer .footer-social-list a:hover {
    color: var(--gold-color);
}

/* END FOOTER */